In [76]:
import pandas as pd

In [77]:
brics_df= pd.read_csv('BRICS_confirmed_cases.csv')
brics_df.head()

,Country/Region,Lat,Long,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,...,12/27/2021,12/28/2021,12/29/2021,12/30/2021,12/31/2021,1/1/2022,1/2/2022,1/3/2022,1/4/2022,1/5/2022
0,Brazil,-14.2350,-51.9253,0,0,0,0,0,0,0,...,22250218,22259270,22269031,22281649,22291839,22295621,22297427,22309081,22328252,22328252
1,China,31.8257,117.2264,1,9,15,39,60,70,106,...,1009,1009,1009,1009,1009,1009,1009,1009,1009,1009
2,China,40.1824,116.4142,14,22,36,41,68,80,91,...,1208,1208,1209,1209,1211,1211,1215,1215,1216,1216
3,China,30.0572,107.8740,6,9,27,57,75,110,132,...,611,611,611,611,611,611,611,611,611,611
4,China,26.0789,117.9874,1,5,10,18,35,59,80,...,1352,1354,1358,1359,1363,1372,1372,1383,1390,1396

In [89]:
cases_by_year=brics_df[['Country/Region','Lat','Long','12/31/2020','12/31/2021']]
cases_by_year

   Country/Region        Lat        Long  12/31/2020  12/31/2021
0          Brazil -14.235000  -51.925300     7681032    22291839
1           China  31.825700  117.226400         993        1009
2           China  40.182400  116.414200         987        1211
3           China  30.057200  107.874000         590         611
4           China  26.078900  117.987400         513        1363
5           China  35.751800  104.286100         182         356
6           China  23.341700  113.424400        2046        3457
7           China  23.829800  108.788100         264         622
8           China  26.815400  106.874800         147         160
9           China  19.195900  109.745300         171         190
10          China  39.549000  116.130600         373        1458
11          China  47.862000  127.761500         964        2035
12          China  37.895700  114.904200        1299        1641
13          China  22.300000  114.200000        8846       12649
14          China  30.975600  112.270700       68149       68317
15          China  27.610400  111.708800        1021        1222
16          China  44.093500  113.944800         364        1186
17          China  32.971100  119.455000         684        1625
18          China  27.614000  115.722100         935         959
19          China  43.666100  126.192300         157         589
20          China  41.295600  122.608500         351         795
21          China  22.166700  113.550000          46          79
22          China  37.269200  106.165500          75         122
23          China  35.745200   95.995600          18          30
24          China  35.191700  108.870100         507        2219
25          China  36.342700  118.149800         862        1043
26          China  31.202000  121.449100        1516        3103
27          China  37.577700  112.292200         224         266
28          China  30.617100  102.710300         853        1321
29          China  39.305400  117.323000         309         589
30          China  31.692700   88.092400           1           1
31          China        NaN         NaN           0           0
32          China  41.112900   85.240100         980         981
33          China  24.974000  101.487000         230        1817
34          China  29.183200  120.093400        1306        2016
35          India  20.593684   78.962880    10286709    34861579
36         Russia  61.524010  105.318756     3127347    10320405
37        Senegal  14.497400  -14.452400       19140       75055
38   South Africa -30.559500   22.937500     1057161     3458286

In [90]:
confirmedcases_df = cases_by_year.groupby(['Country/Region']).sum()
confirmedcases_df = confirmedcases_df.drop(columns=['Lat','Long'])
confirmedcases_df= confirmedcases_df.rename(columns={'12/31/2020':'2020'})
confirmedcases_df= confirmedcases_df.rename(columns={'12/31/2021':'2021'})
confirmedcases_df

                    2020      2021
Country/Region
Brazil           7681032  22291839
China              95963    115042
India           10286709  34861579
Russia           3127347  10320405
Senegal            19140     75055
South Africa     1057161   3458286

In [95]:
cases_by_month_2020=brics_df[['Country/Region','Lat','Long','1/31/2020','2/29/2020','3/31/2020','4/30/2020','5/31/2020','6/30/2020','7/31/2020',
                        '8/31/2020','9/30/2020','10/31/2020','11/30/2020','12/31/2020']]

cases_by_month_2020.head()

,Country/Region,Lat,Long,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020
0,Brazil,-14.2350,-51.9253,0,2,5717,87187,516137,1412669,2670451,3914829,4817365,5537763,6341965,7681032
1,China,31.8257,117.2264,237,990,990,991,991,991,991,991,991,991,992,993
2,China,40.1824,116.4142,139,411,580,593,593,922,933,935,936,942,951,987
3,China,30.0572,107.8740,211,576,579,579,579,582,583,583,584,589,590,590
4,China,26.0789,117.9874,120,296,343,356,358,363,366,383,409,437,489,513

In [96]:
groupby_cases_2020=cases_by_month_2020.groupby(['Country/Region']).sum()
groupby_cases_2020=groupby_cases_2020.drop(columns=['Lat','Long'])
groupby_cases_2020.head()

,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020,7/31/2020,8/31/2020,9/30/2020,10/31/2020,11/30/2020,12/31/2020
Country/Region,,,,,,,,,,,,
Brazil,0,2,5717,87187,516137,1412669,2670451,3914829,4817365,5537763,6341965,7681032
China,9802,79356,82279,83956,84146,84785,87655,89914,90545,91366,92902,95963
India,1,3,1397,34863,190609,585481,1695988,3691166,6312584,8184082,9462809,10286709
Russia,2,2,2337,106498,405843,646929,838461,992402,1170799,1606267,2275936,3127347
Senegal,0,0,175,933,3645,6793,10232,13611,14982,15616,16089,19140

In [93]:
cases_by_month_2021=brics_df[['Country/Region','Lat','Long','1/31/2021','2/28/2021','3/31/2021','4/30/2021','5/31/2021','6/30/2021','7/31/2021',
                        '8/31/2021','9/30/2021','10/31/2021','11/30/2021','12/31/2021']]

cases_by_month_2021.head()

,Country/Region,Lat,Long,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021
0,Brazil,-14.2350,-51.9253,9208521,10558091,12763392,14675104,16557888,18570296,19922146,20785196,21432362,21814625,22100143,22291839
1,China,31.8257,117.2264,994,994,994,994,1004,1008,1008,1008,1008,1008,1008,1009
2,China,40.1824,116.4142,1038,1049,1049,1057,1059,1078,1089,1117,1124,1162,1191,1211
3,China,30.0572,107.8740,591,591,591,596,598,598,603,603,603,604,610,611
4,China,26.0789,117.9874,541,551,561,592,621,680,737,789,1282,1306,1322,1363

In [97]:
groupby_cases_2021=cases_by_month_2021.groupby(['Country/Region']).sum()
groupby_cases_2021=groupby_cases_2021.drop(columns=['Lat','Long'])
groupby_cases_2021.head()

,1/31/2021,2/28/2021,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021
Country/Region,,,,,,,,,,,,
Brazil,9208521,10558091,12763392,14675104,16557888,18570296,19922146,20785196,21432362,21814625,22100143,22291839
China,100063,100965,101732,102494,103014,103769,105050,107073,108450,109666,111337,115042
India,10757610,11112241,12221665,19164969,28175044,30411634,31655824,32810845,33766707,34285814,34596776,34861579
Russia,3808348,4198400,4494234,4750755,5013512,5449594,6185249,6820697,7401104,8377984,9468640,10320405
Senegal,26523,34520,38705,40344,41416,43128,62290,72805,73775,73917,73987,75055